<p id="notice"><%= notice %></p>

<h1>Group To Users</h1>

<table>
  <thead>
    <tr>
      <th>uid</th>
      <th>Group id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_to_users.each do |group_to_user| %>
      <tr>
        <td><%= group_to_user.uid %></td>
        <td><%= group_to_user.group_id %></td>
        <td><%= link_to 'Show', group_to_user %></td>
        <td><%= link_to 'Edit', edit_group_to_user_path(group_to_user) %></td>
        <td><%= link_to 'Destroy', group_to_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group To User', new_group_to_user_path %>
