<p id="notice"><%= notice %></p>

<p>
  <strong>Mentorid:</strong>
  <%= @group_to_user.MentorID %>
</p>

<p>
  <strong>Groupid:</strong>
  <%= @group_to_user.GroupID %>
</p>

<%= link_to 'Edit', edit_group_to_user_path(@group_to_user) %> |
<%= link_to 'Back', group_to_users_path %>
