<body>
  <div class="form">

    <br><h2>Sign Up</h2><br>
    

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>- minimum of <%= @minimum_password_length %> characters</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :Confirmation %><i>- retype password</i>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <label>UIN</label>
          <% f.label :uid %>
          <%= f.number_field :uid, :max => 999999999, :min =>100000000, :required => true %>
        </div>

        <div class="field">
          <%= f.label :major %>
          <em>- leave blank if none</em>
          <%= f.select :major, ["","ABME", "ACCT", "ADEV", "AEGD", "AERO", "AGBL", "AGBU", "AGCJ", "AGEC", "AGED", "AGLS", "AGRO", "AGSC", "AGSM", "ALEC", "ALED", "ANBR", "ANLY", "ANSC", "ANTH", "APHY", "APMS", "ARCH", "ATMO", "ATTR", "BAEN", "BESC", "BHNR", "BICH", "BIED", "BIMS", "BIOL", "BIOT", "BMCB", "BMEN", "BUAD", "BUSI", "CAIA", "CDEV", "CECL", "CECN", "CEEN", "CHEM", "CHEN", "CHLL", "CHLS", "CHLT", "CLPY", "CLSS", "CNPM", "CNSA", "COMG", "COMM", "COSC", "COSL", "CPSC", "CPSL", "CPSY", "CVEN", "DDDS", "DDHS", "DDPH", "ECON", "ECOR", "EDAD", "EDAL", "EDAS", "EDCI", "EDHL", "EDHP", "EDIS", "EDKI", "EDSM", "EDTC", "EEBL", "EHRD", "ELEN", "ELIN", "EMBA", "EMHA", "EMPS", "ENDO", "ENGE", "ENGL", "ENGR", "ENGS", "ENGY", "ENSM", "ENST", "ENTC", "ENTO", "EPIE", "EPSY", "EQIM", "ESET", "ESSM", "FINC", "FINM", "FIVL", "FIVS", "FNPR", "FORS", "FSTC", "GACD", "GENE", "GEOG", "GEOL", "GEOP", "GEOS", "GEST", "GIST", "GTWY", "HADM", "HBCE", "HEED", "HISP", "HIST", "HLPH", "HLTH", "HORT", "HPCH", "HRDL", "HRDV", "HRMT", "HRSA", "IDIS", "INEN", "INFO", "INST", "INTA", "INTS", "IOPY", "ITDE", "JDLW", "KINE", "LAMD", "LAND", "LPDV", "MAAL", "MARA", "MARB", "MARC", "MARF", "MARM", "MARR", "MARS", "MART", "MAST", "MATH", "MAXF", "MBIO", "MDMD", "MDSC", "MEEN", "MEPS", "METL", "METR", "MGMT", "MISY", "MKTG", "MLER", "MMET", "MODL", "MSEN", "MUSC", "MXET", "NRDV", "NRED", "NRSC", "NUEN", "NURS", "NUSC", "NUTR", "OBIO", "OCEN", "OCNG", "OCRE", "OCSE", "OCSH", "OCSL", "OCST", "OMSP", "OMSR", "ORTH", "PEDD", "PERF", "PERI", "PETE", "PHAR", "PHEB", "PHEO", "PHEP", "PHIL", "PHLT", "PHPM", "PHTL", "PHYS", "PLBR", "PLPA", "PMBA", "POLS", "POSC", "PREP", "PROS", "PSAA", "PSSC", "PSYC", "REEP", "RENR", "RHEN", "RLEM", "RPTS", "RUSS", "SCMT", "SENG", "SOCI", "SOSC", "SPAN", "SPED", "SPMT", "SPSA", "SPSY", "STAT", "STJR", "TCMG", "TCMS", "TEAB", "TEAM", "TEBR", "TECR", "TEEC", "TEHS", "TGSC", "THAR", "TOXI", "URPL", "URPN", "URSC", "USAL", "USAR", "USBU", "USEH", "USGA", "USGE", "USLA", "USSC", "USVM", "VISL", "VIST", "VPHE", "VTMD", "VTPB", "WFSC", "WGST", "WISC", "WMHS", "ZOOL"] %>
        </div>
        <div class="field">
          <%= f.label :minor %>
          <em>- leave blank if none</em>
          <%= f.select :minor, ["","ABME", "ACCT", "ADEV", "AEGD", "AERO", "AGBL", "AGBU", "AGCJ", "AGEC", "AGED", "AGLS", "AGRO", "AGSC", "AGSM", "ALEC", "ALED", "ANBR", "ANLY", "ANSC", "ANTH", "APHY", "APMS", "ARCH", "ATMO", "ATTR", "BAEN", "BESC", "BHNR", "BICH", "BIED", "BIMS", "BIOL", "BIOT", "BMCB", "BMEN", "BUAD", "BUSI", "CAIA", "CDEV", "CECL", "CECN", "CEEN", "CHEM", "CHEN", "CHLL", "CHLS", "CHLT", "CLPY", "CLSS", "CNPM", "CNSA", "COMG", "COMM", "COSC", "COSL", "CPSC", "CPSL", "CPSY", "CVEN", "DDDS", "DDHS", "DDPH", "ECON", "ECOR", "EDAD", "EDAL", "EDAS", "EDCI", "EDHL", "EDHP", "EDIS", "EDKI", "EDSM", "EDTC", "EEBL", "EHRD", "ELEN", "ELIN", "EMBA", "EMHA", "EMPS", "ENDO", "ENGE", "ENGL", "ENGR", "ENGS", "ENGY", "ENSM", "ENST", "ENTC", "ENTO", "EPIE", "EPSY", "EQIM", "ESET", "ESSM", "FINC", "FINM", "FIVL", "FIVS", "FNPR", "FORS", "FSTC", "GACD", "GENE", "GEOG", "GEOL", "GEOP", "GEOS", "GEST", "GIST", "GTWY", "HADM", "HBCE", "HEED", "HISP", "HIST", "HLPH", "HLTH", "HORT", "HPCH", "HRDL", "HRDV", "HRMT", "HRSA", "IDIS", "INEN", "INFO", "INST", "INTA", "INTS", "IOPY", "ITDE", "JDLW", "KINE", "LAMD", "LAND", "LPDV", "MAAL", "MARA", "MARB", "MARC", "MARF", "MARM", "MARR", "MARS", "MART", "MAST", "MATH", "MAXF", "MBIO", "MDMD", "MDSC", "MEEN", "MEPS", "METL", "METR", "MGMT", "MISY", "MKTG", "MLER", "MMET", "MODL", "MSEN", "MUSC", "MXET", "NRDV", "NRED", "NRSC", "NUEN", "NURS", "NUSC", "NUTR", "OBIO", "OCEN", "OCNG", "OCRE", "OCSE", "OCSH", "OCSL", "OCST", "OMSP", "OMSR", "ORTH", "PEDD", "PERF", "PERI", "PETE", "PHAR", "PHEB", "PHEO", "PHEP", "PHIL", "PHLT", "PHPM", "PHTL", "PHYS", "PLBR", "PLPA", "PMBA", "POLS", "POSC", "PREP", "PROS", "PSAA", "PSSC", "PSYC", "REEP", "RENR", "RHEN", "RLEM", "RPTS", "RUSS", "SCMT", "SENG", "SOCI", "SOSC", "SPAN", "SPED", "SPMT", "SPSA", "SPSY", "STAT", "STJR", "TCMG", "TCMS", "TEAB", "TEAM", "TEBR", "TECR", "TEEC", "TEHS", "TGSC", "THAR", "TOXI", "URPL", "URPN", "URSC", "USAL", "USAR", "USBU", "USEH", "USGA", "USGE", "USLA", "USSC", "USVM", "VISL", "VIST", "VPHE", "VTMD", "VTPB", "WFSC", "WGST", "WISC", "WMHS", "ZOOL"] %>
        </div>
      

        <div class="field">
          <%= f.label :grad_year %>
          <%= f.text_field :grad_year, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :professional_track %>
          <em>- leave blank if none</em>
          <%= f.select :professional_track, ["", "PhD", "Nursing", "Pre-Law", "Pre-Dental", "Pre-Medicine", "Pre-Pharmacy", "Pre-Veterinary", "Pre-Optometry", "Pre-PA (Physician Assistant)", "Pre-PT (Physical Therapy)", "Pre-OT (Occupational Therapy)", "Other"]%>
        </div>

        <div class="field">
          <%= f.label :Resume%>
          <em>- optional</em>
          <em>- paste as a link</em>
          <em>(consider LinkedIn)</em>
          <%= f.text_field :resume_link, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :phone %>
          <em>- optional</em>
          <em>- format: "111-111-1111"</em>
          <%= f.text_field :phone_number, autofocus: true %>
        </div>

        <br>
        <div class="actions">
          <%= f.submit "Sign Up" , :class=> "btn btn-outline-secondary"%>
        </div>
      <% end %>
    
    <%= render "devise/shared/links" %><br>

  </div>
</body>