<h1>Directory PAGE</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>UID</th>
      <th>Major</th>
      <th>Resume</th>
      <th>Phone Number</th>
      <th>Prof Track</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%= form_tag directory_path, method: "get" do %>
    <p>Filter by Major </p>
    <select id="m" name = m>
      <option value="">Select</option>
      <option value="ABME">ABME</option>
      <option value="ACCT">ACCT</option>
      <option value="ADEV">ADEV</option>
      <option value="AEGD">AEGD</option>
      <option value="AERO">AERO</option>
      <option value="AGBL">AGBL</option>
      <option value="AGBU">AGBU</option>
      <option value="AGCJ">AGCJ</option>
      <option value="AGEC">AGEC</option>
      <option value="AGED">AGED</option>
      <option value="AGLS">AGLS</option>
      <option value="AGRO">AGRO</option>
      <option value="AGSC">AGSC</option>
      <option value="AGSM">AGSM</option>
      <option value="ALEC">ALEC</option>
      <option value="ALED">ALED</option>
      <option value="ANBR">ANBR</option>
      <option value="ANLY">ANLY</option>
      <option value="ANSC">ANSC</option>
      <option value="ANTH">ANTH</option>
      <option value="APHY">APHY</option>
      <option value="APMS">APMS</option>
      <option value="ARCH">ARCH</option>
      <option value="ATMO">ATMO</option>
      <option value="ATTR">ATTR</option>
      <option value="BAEN">BAEN</option>
      <option value="BESC">BESC</option>
      <option value="BHNR">BHNR</option>
      <option value="BICH">BICH</option>
      <option value="BIED">BIED</option>
      <option value="BIMS">BIMS</option>
      <option value="BIOL">BIOL</option>
      <option value="BIOT">BIOT</option>
      <option value="BMCB">BMCB</option>
      <option value="BMEN">BMEN</option>
      <option value="BUAD">BUAD</option>
      <option value="BUSI">BUSI</option>
      <option value="CAIA">CAIA</option>
      <option value="CDEV">CDEV</option>
      <option value="CECL">CECL</option>
      <option value="CECN">CECN</option>
      <option value="CEEN">CEEN</option>
      <option value="CHEM">CHEM</option>
      <option value="CHEN">CHEN</option>
      <option value="CHLL">CHLL</option>
      <option value="CHLS">CHLS</option>
      <option value="CHLT">CHLT</option>
      <option value="CLPY">CLPY</option>
      <option value="CLSS">CLSS</option>
      <option value="CNPM">CNPM</option>
      <option value="CNSA">CNSA</option>
      <option value="COMG">COMG</option>
      <option value="COMM">COMM</option>
      <option value="COSC">COSC</option>
      <option value="COSL">COSL</option>
      <option value="CPSC">CPSC</option>
      <option value="CPSL">CPSL</option>
      <option value="CPSY">CPSY</option>
      <option value="CVEN">CVEN</option>
      <option value="DDDS">DDDS</option>
      <option value="DDHS">DDHS</option>
      <option value="DDPH">DDPH</option>
      <option value="ECON">ECON</option>
      <option value="ECOR">ECOR</option>
      <option value="EDAD">EDAD</option>
      <option value="EDAL">EDAL</option>
      <option value="EDAS">EDAS</option>
      <option value="EDCI">EDCI</option>
      <option value="EDHL">EDHL</option>
      <option value="EDHP">EDHP</option>
      <option value="EDIS">EDIS</option>
      <option value="EDKI">EDKI</option>
      <option value="EDSM">EDSM</option>
      <option value="EDTC">EDTC</option>
      <option value="EEBL">EEBL</option>
      <option value="EHRD">EHRD</option>
      <option value="ELEN">ELEN</option>
      <option value="ELIN">ELIN</option>
      <option value="EMBA">EMBA</option>
      <option value="EMHA">EMHA</option>
      <option value="EMPS">EMPS</option>
      <option value="ENDO">ENDO</option>
      <option value="ENGE">ENGE</option>
      <option value="ENGL">ENGL</option>
      <option value="ENGR">ENGR</option>
      <option value="ENGS">ENGS</option>
      <option value="ENGY">ENGY</option>
      <option value="ENSM">ENSM</option>
      <option value="ENST">ENST</option>
      <option value="ENTC">ENTC</option>
      <option value="ENTO">ENTO</option>
      <option value="EPIE">EPIE</option>
      <option value="EPSY">EPSY</option>
      <option value="EQIM">EQIM</option>
      <option value="ESET">ESET</option>
      <option value="ESSM">ESSM</option>
      <option value="FINC">FINC</option>
      <option value="FINM">FINM</option>
      <option value="FIVL">FIVL</option>
      <option value="FIVS">FIVS</option>
      <option value="FNPR">FNPR</option>
      <option value="FORS">FORS</option>
      <option value="FSTC">FSTC</option>
      <option value="GACD">GACD</option>
      <option value="GENE">GENE</option>
      <option value="GEOG">GEOG</option>
      <option value="GEOL">GEOL</option>
      <option value="GEOP">GEOP</option>
      <option value="GEOS">GEOS</option>
      <option value="GEST">GEST</option>
      <option value="GIST">GIST</option>
      <option value="GTWY">GTWY</option>
      <option value="HADM">HADM</option>
      <option value="HBCE">HBCE</option>
      <option value="HEED">HEED</option>
      <option value="HISP">HISP</option>
      <option value="HIST">HIST</option>
      <option value="HLPH">HLPH</option>
      <option value="HLTH">HLTH</option>
      <option value="HORT">HORT</option>
      <option value="HPCH">HPCH</option>
      <option value="HRDL">HRDL</option>
      <option value="HRDV">HRDV</option>
      <option value="HRMT">HRMT</option>
      <option value="HRSA">HRSA</option>
      <option value="IDIS">IDIS</option>
      <option value="INEN">INEN</option>
      <option value="INFO">INFO</option>
      <option value="INST">INST</option>
      <option value="INTA">INTA</option>
      <option value="INTS">INTS</option>
      <option value="IOPY">IOPY</option>
      <option value="ITDE">ITDE</option>
      <option value="JDLW">JDLW</option>
      <option value="KINE">KINE</option>
      <option value="LAMD">LAMD</option>
      <option value="LAND">LAND</option>
      <option value="LPDV">LPDV</option>
      <option value="MAAL">MAAL</option>
      <option value="MARA">MARA</option>
      <option value="MARB">MARB</option>
      <option value="MARC">MARC</option>
      <option value="MARF">MARF</option>
      <option value="MARM">MARM</option>
      <option value="MARR">MARR</option>
      <option value="MARS">MARS</option>
      <option value="MART">MART</option>
      <option value="MAST">MAST</option>
      <option value="MATH">MATH</option>
      <option value="MAXF">MAXF</option>
      <option value="MBIO">MBIO</option>
      <option value="MDMD">MDMD</option>
      <option value="MDSC">MDSC</option>
      <option value="MEEN">MEEN</option>
      <option value="MEPS">MEPS</option>
      <option value="METL">METL</option>
      <option value="METR">METR</option>
      <option value="MGMT">MGMT</option>
      <option value="MISY">MISY</option>
      <option value="MKTG">MKTG</option>
      <option value="MLER">MLER</option>
      <option value="MMET">MMET</option>
      <option value="MODL">MODL</option>
      <option value="MSEN">MSEN</option>
      <option value="MUSC">MUSC</option>
      <option value="MXET">MXET</option>
      <option value="NRDV">NRDV</option>
      <option value="NRED">NRED</option>
      <option value="NRSC">NRSC</option>
      <option value="NUEN">NUEN</option>
      <option value="NURS">NURS</option>
      <option value="NUSC">NUSC</option>
      <option value="NUTR">NUTR</option>
      <option value="OBIO">OBIO</option>
      <option value="OCEN">OCEN</option>
      <option value="OCNG">OCNG</option>
      <option value="OCRE">OCRE</option>
      <option value="OCSE">OCSE</option>
      <option value="OCSH">OCSH</option>
      <option value="OCSL">OCSL</option>
      <option value="OCST">OCST</option>
      <option value="OMSP">OMSP</option>
      <option value="OMSR">OMSR</option>
      <option value="ORTH">ORTH</option>
      <option value="PEDD">PEDD</option>
      <option value="PERF">PERF</option>
      <option value="PERI">PERI</option>
      <option value="PETE">PETE</option>
      <option value="PHAR">PHAR</option>
      <option value="PHEB">PHEB</option>
      <option value="PHEO">PHEO</option>
      <option value="PHEP">PHEP</option>
      <option value="PHIL">PHIL</option>
      <option value="PHLT">PHLT</option>
      <option value="PHPM">PHPM</option>
      <option value="PHTL">PHTL</option>
      <option value="PHYS">PHYS</option>
      <option value="PLBR">PLBR</option>
      <option value="PLPA">PLPA</option>
      <option value="PMBA">PMBA</option>
      <option value="POLS">POLS</option>
      <option value="POSC">POSC</option>
      <option value="PREP">PREP</option>
      <option value="PROS">PROS</option>
      <option value="PSAA">PSAA</option>
      <option value="PSSC">PSSC</option>
      <option value="PSYC">PSYC</option>
      <option value="REEP">REEP</option>
      <option value="RENR">RENR</option>
      <option value="RHEN">RHEN</option>
      <option value="RLEM">RLEM</option>
      <option value="RPTS">RPTS</option>
      <option value="RUSS">RUSS</option>
      <option value="SCMT">SCMT</option>
      <option value="SENG">SENG</option>
      <option value="SOCI">SOCI</option>
      <option value="SOSC">SOSC</option>
      <option value="SPAN">SPAN</option>
      <option value="SPED">SPED</option>
      <option value="SPMT">SPMT</option>
      <option value="SPSA">SPSA</option>
      <option value="SPSY">SPSY</option>
      <option value="STAT">STAT</option>
      <option value="STJR">STJR</option>
      <option value="TCMG">TCMG</option>
      <option value="TCMS">TCMS</option>
      <option value="TEAB">TEAB</option>
      <option value="TEAM">TEAM</option>
      <option value="TEBR">TEBR</option>
      <option value="TECR">TECR</option>
      <option value="TEEC">TEEC</option>
      <option value="TEHS">TEHS</option>
      <option value="TGSC">TGSC</option>
      <option value="THAR">THAR</option>
      <option value="TOXI">TOXI</option>
      <option value="URPL">URPL</option>
      <option value="URPN">URPN</option>
      <option value="URSC">URSC</option>
      <option value="USAL">USAL</option>
      <option value="USAR">USAR</option>
      <option value="USBU">USBU</option>
      <option value="USEH">USEH</option>
      <option value="USGA">USGA</option>
      <option value="USGE">USGE</option>
      <option value="USLA">USLA</option>
      <option value="USSC">USSC</option>
      <option value="USVM">USVM</option>
      <option value="VISL">VISL</option>
      <option value="VIST">VIST</option>
      <option value="VPHE">VPHE</option>
      <option value="VTMD">VTMD</option>
      <option value="VTPB">VTPB</option>
      <option value="WFSC">WFSC</option>
      <option value="WGST">WGST</option>
      <option value="WISC">WISC</option>
      <option value="WMHS">WMHS</option>
      <option value="ZOOL">ZOOL</option>
    </select>
    <p>Filter by Minor </p>
    <select id="n" name = n>
      <option value="">Select</option>
      <option value="None">Select</option>
      <option value="ABME">ABME</option>
      <option value="ACCT">ACCT</option>
      <option value="ADEV">ADEV</option>
      <option value="AEGD">AEGD</option>
      <option value="AERO">AERO</option>
      <option value="AGBL">AGBL</option>
      <option value="AGBU">AGBU</option>
      <option value="AGCJ">AGCJ</option>
      <option value="AGEC">AGEC</option>
      <option value="AGED">AGED</option>
      <option value="AGLS">AGLS</option>
      <option value="AGRO">AGRO</option>
      <option value="AGSC">AGSC</option>
      <option value="AGSM">AGSM</option>
      <option value="ALEC">ALEC</option>
      <option value="ALED">ALED</option>
      <option value="ANBR">ANBR</option>
      <option value="ANLY">ANLY</option>
      <option value="ANSC">ANSC</option>
      <option value="ANTH">ANTH</option>
      <option value="APHY">APHY</option>
      <option value="APMS">APMS</option>
      <option value="ARCH">ARCH</option>
      <option value="ATMO">ATMO</option>
      <option value="ATTR">ATTR</option>
      <option value="BAEN">BAEN</option>
      <option value="BESC">BESC</option>
      <option value="BHNR">BHNR</option>
      <option value="BICH">BICH</option>
      <option value="BIED">BIED</option>
      <option value="BIMS">BIMS</option>
      <option value="BIOL">BIOL</option>
      <option value="BIOT">BIOT</option>
      <option value="BMCB">BMCB</option>
      <option value="BMEN">BMEN</option>
      <option value="BUAD">BUAD</option>
      <option value="BUSI">BUSI</option>
      <option value="CAIA">CAIA</option>
      <option value="CDEV">CDEV</option>
      <option value="CECL">CECL</option>
      <option value="CECN">CECN</option>
      <option value="CEEN">CEEN</option>
      <option value="CHEM">CHEM</option>
      <option value="CHEN">CHEN</option>
      <option value="CHLL">CHLL</option>
      <option value="CHLS">CHLS</option>
      <option value="CHLT">CHLT</option>
      <option value="CLPY">CLPY</option>
      <option value="CLSS">CLSS</option>
      <option value="CNPM">CNPM</option>
      <option value="CNSA">CNSA</option>
      <option value="COMG">COMG</option>
      <option value="COMM">COMM</option>
      <option value="COSC">COSC</option>
      <option value="COSL">COSL</option>
      <option value="CPSC">CPSC</option>
      <option value="CPSL">CPSL</option>
      <option value="CPSY">CPSY</option>
      <option value="CVEN">CVEN</option>
      <option value="DDDS">DDDS</option>
      <option value="DDHS">DDHS</option>
      <option value="DDPH">DDPH</option>
      <option value="ECON">ECON</option>
      <option value="ECOR">ECOR</option>
      <option value="EDAD">EDAD</option>
      <option value="EDAL">EDAL</option>
      <option value="EDAS">EDAS</option>
      <option value="EDCI">EDCI</option>
      <option value="EDHL">EDHL</option>
      <option value="EDHP">EDHP</option>
      <option value="EDIS">EDIS</option>
      <option value="EDKI">EDKI</option>
      <option value="EDSM">EDSM</option>
      <option value="EDTC">EDTC</option>
      <option value="EEBL">EEBL</option>
      <option value="EHRD">EHRD</option>
      <option value="ELEN">ELEN</option>
      <option value="ELIN">ELIN</option>
      <option value="EMBA">EMBA</option>
      <option value="EMHA">EMHA</option>
      <option value="EMPS">EMPS</option>
      <option value="ENDO">ENDO</option>
      <option value="ENGE">ENGE</option>
      <option value="ENGL">ENGL</option>
      <option value="ENGR">ENGR</option>
      <option value="ENGS">ENGS</option>
      <option value="ENGY">ENGY</option>
      <option value="ENSM">ENSM</option>
      <option value="ENST">ENST</option>
      <option value="ENTC">ENTC</option>
      <option value="ENTO">ENTO</option>
      <option value="EPIE">EPIE</option>
      <option value="EPSY">EPSY</option>
      <option value="EQIM">EQIM</option>
      <option value="ESET">ESET</option>
      <option value="ESSM">ESSM</option>
      <option value="FINC">FINC</option>
      <option value="FINM">FINM</option>
      <option value="FIVL">FIVL</option>
      <option value="FIVS">FIVS</option>
      <option value="FNPR">FNPR</option>
      <option value="FORS">FORS</option>
      <option value="FSTC">FSTC</option>
      <option value="GACD">GACD</option>
      <option value="GENE">GENE</option>
      <option value="GEOG">GEOG</option>
      <option value="GEOL">GEOL</option>
      <option value="GEOP">GEOP</option>
      <option value="GEOS">GEOS</option>
      <option value="GEST">GEST</option>
      <option value="GIST">GIST</option>
      <option value="GTWY">GTWY</option>
      <option value="HADM">HADM</option>
      <option value="HBCE">HBCE</option>
      <option value="HEED">HEED</option>
      <option value="HISP">HISP</option>
      <option value="HIST">HIST</option>
      <option value="HLPH">HLPH</option>
      <option value="HLTH">HLTH</option>
      <option value="HORT">HORT</option>
      <option value="HPCH">HPCH</option>
      <option value="HRDL">HRDL</option>
      <option value="HRDV">HRDV</option>
      <option value="HRMT">HRMT</option>
      <option value="HRSA">HRSA</option>
      <option value="IDIS">IDIS</option>
      <option value="INEN">INEN</option>
      <option value="INFO">INFO</option>
      <option value="INST">INST</option>
      <option value="INTA">INTA</option>
      <option value="INTS">INTS</option>
      <option value="IOPY">IOPY</option>
      <option value="ITDE">ITDE</option>
      <option value="JDLW">JDLW</option>
      <option value="KINE">KINE</option>
      <option value="LAMD">LAMD</option>
      <option value="LAND">LAND</option>
      <option value="LPDV">LPDV</option>
      <option value="MAAL">MAAL</option>
      <option value="MARA">MARA</option>
      <option value="MARB">MARB</option>
      <option value="MARC">MARC</option>
      <option value="MARF">MARF</option>
      <option value="MARM">MARM</option>
      <option value="MARR">MARR</option>
      <option value="MARS">MARS</option>
      <option value="MART">MART</option>
      <option value="MAST">MAST</option>
      <option value="MATH">MATH</option>
      <option value="MAXF">MAXF</option>
      <option value="MBIO">MBIO</option>
      <option value="MDMD">MDMD</option>
      <option value="MDSC">MDSC</option>
      <option value="MEEN">MEEN</option>
      <option value="MEPS">MEPS</option>
      <option value="METL">METL</option>
      <option value="METR">METR</option>
      <option value="MGMT">MGMT</option>
      <option value="MISY">MISY</option>
      <option value="MKTG">MKTG</option>
      <option value="MLER">MLER</option>
      <option value="MMET">MMET</option>
      <option value="MODL">MODL</option>
      <option value="MSEN">MSEN</option>
      <option value="MUSC">MUSC</option>
      <option value="MXET">MXET</option>
      <option value="NRDV">NRDV</option>
      <option value="NRED">NRED</option>
      <option value="NRSC">NRSC</option>
      <option value="NUEN">NUEN</option>
      <option value="NURS">NURS</option>
      <option value="NUSC">NUSC</option>
      <option value="NUTR">NUTR</option>
      <option value="OBIO">OBIO</option>
      <option value="OCEN">OCEN</option>
      <option value="OCNG">OCNG</option>
      <option value="OCRE">OCRE</option>
      <option value="OCSE">OCSE</option>
      <option value="OCSH">OCSH</option>
      <option value="OCSL">OCSL</option>
      <option value="OCST">OCST</option>
      <option value="OMSP">OMSP</option>
      <option value="OMSR">OMSR</option>
      <option value="ORTH">ORTH</option>
      <option value="PEDD">PEDD</option>
      <option value="PERF">PERF</option>
      <option value="PERI">PERI</option>
      <option value="PETE">PETE</option>
      <option value="PHAR">PHAR</option>
      <option value="PHEB">PHEB</option>
      <option value="PHEO">PHEO</option>
      <option value="PHEP">PHEP</option>
      <option value="PHIL">PHIL</option>
      <option value="PHLT">PHLT</option>
      <option value="PHPM">PHPM</option>
      <option value="PHTL">PHTL</option>
      <option value="PHYS">PHYS</option>
      <option value="PLBR">PLBR</option>
      <option value="PLPA">PLPA</option>
      <option value="PMBA">PMBA</option>
      <option value="POLS">POLS</option>
      <option value="POSC">POSC</option>
      <option value="PREP">PREP</option>
      <option value="PROS">PROS</option>
      <option value="PSAA">PSAA</option>
      <option value="PSSC">PSSC</option>
      <option value="PSYC">PSYC</option>
      <option value="REEP">REEP</option>
      <option value="RENR">RENR</option>
      <option value="RHEN">RHEN</option>
      <option value="RLEM">RLEM</option>
      <option value="RPTS">RPTS</option>
      <option value="RUSS">RUSS</option>
      <option value="SCMT">SCMT</option>
      <option value="SENG">SENG</option>
      <option value="SOCI">SOCI</option>
      <option value="SOSC">SOSC</option>
      <option value="SPAN">SPAN</option>
      <option value="SPED">SPED</option>
      <option value="SPMT">SPMT</option>
      <option value="SPSA">SPSA</option>
      <option value="SPSY">SPSY</option>
      <option value="STAT">STAT</option>
      <option value="STJR">STJR</option>
      <option value="TCMG">TCMG</option>
      <option value="TCMS">TCMS</option>
      <option value="TEAB">TEAB</option>
      <option value="TEAM">TEAM</option>
      <option value="TEBR">TEBR</option>
      <option value="TECR">TECR</option>
      <option value="TEEC">TEEC</option>
      <option value="TEHS">TEHS</option>
      <option value="TGSC">TGSC</option>
      <option value="THAR">THAR</option>
      <option value="TOXI">TOXI</option>
      <option value="URPL">URPL</option>
      <option value="URPN">URPN</option>
      <option value="URSC">URSC</option>
      <option value="USAL">USAL</option>
      <option value="USAR">USAR</option>
      <option value="USBU">USBU</option>
      <option value="USEH">USEH</option>
      <option value="USGA">USGA</option>
      <option value="USGE">USGE</option>
      <option value="USLA">USLA</option>
      <option value="USSC">USSC</option>
      <option value="USVM">USVM</option>
      <option value="VISL">VISL</option>
      <option value="VIST">VIST</option>
      <option value="VPHE">VPHE</option>
      <option value="VTMD">VTMD</option>
      <option value="VTPB">VTPB</option>
      <option value="WFSC">WFSC</option>
      <option value="WGST">WGST</option>
      <option value="WISC">WISC</option>
      <option value="WMHS">WMHS</option>
      <option value="ZOOL">ZOOL</option>
    </select>
    <p>Filter by Professional Track </p>
    <select id="p" name = p>
      <option value="">Select</option>
      <option value="Pre-Med">homeless</option>
      <option value="Pre-Dental">Baker</option>
      <option value="Optometry">Fiat</option>
      <option value="Engineering">Audi</option>
    </select>
    <br></br>
    <%=submit_tag("Search")%>
    <%=submit_tag("Reset")%>
    <% end%>



  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.uid %></td>
        <td><%= user.major %></td>
        <td><%= user.minor %></td>
        <td><%= user.resume_link %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.professional_track %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back to home", root_path %>

