<p id="notice"><%= notice %></p>

<h1>Mentor To Mentees</h1>

<table>
  <thead>
    <tr>
      <th>Mentor uid</th>
      <th>Mentee uid</th>
      <th>Status</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mentor_to_mentees.each do |mentor_to_mentee| %>
      <tr>
        <td><%= mentor_to_mentee.mentor_uid %></td>
        <td><%= mentor_to_mentee.mentee_uid %></td>
        <td><%= mentor_to_mentee.status %></td>
        <td><%= mentor_to_mentee.year %></td>
        <td><%= link_to 'Show', mentor_to_mentee %></td>
        <td><%= link_to 'Edit', edit_mentor_to_mentee_path(mentor_to_mentee) %></td>
        <td><%= link_to 'Destroy', mentor_to_mentee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mentor To Mentee', new_mentor_to_mentee_path %>
