<div class="mentor_mapping">
<br>
<h1>New Mentor To Mentee</h1>
<br>
<%= form_with(model: @mentor_to_mentee) do |form| %>
  <% if @mentor_to_mentee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mentor_to_mentee.errors.count, "error") %> prohibited this mentor_to_mentee from being saved:</h2>

      <ul>
        <% @mentor_to_mentee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mentor_uid %>
    <%= form.select :mentor_uid, User.all.collect { |u| [ u.first_name + ' ' + u.last_name, u.uid ] } %>
  </div>

  <div class="field">
    <%= form.label :mentee_uid %>
    <%= form.select :mentee_uid, User.all.collect { |u| [ u.first_name + ' ' + u.last_name, u.uid ] } %>
  </div>
    
  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>
  <br><br>

  <div class="actions">
    <%= form.button "Add new Mentor Mapping", type: "submit", :class=> "btn btn-primary", :style=> "color:white" %>
  </div>
<% end %>

<%= link_to 'Back', '/admin', :class=> "btn btn-secondary", :style=> "color:white;" %>
</div>

<style scoped>
.mentor_mapping {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40%;
}
.mentor_mapping select {
  margin-left:0;
}
.mentor_mapping h1 {
  margin-left:0;
}
</style>